body {
	font-family: 'Archivo', sans-serif;
}

.top-list {
	grid-row: 1/2;
	grid-column: 1/4;
	position: relative;
	width: 950px;
	left: 0;
	top: 50px;
	margin: 0 auto;
}

.top-list img {
	right: 20px;
	bottom: 15px;

}

.top-list nav {
    background-color: #222931;
}
.top-list ul {
    display: inline-block;
}
.top-list li {
	display: inline-block;
}
.top-list a {
	font-size: 12px;
	text-decoration: none;
	margin: 10px;
	color: #ffffff;
}
